<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
  <head> 
    <title>Sinatra-Says</title> 
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'></script> 
    <script type='text/javascript'> 
      //<![CDATA[
          $('#say_button').click(saySomethin);
          function saySomethin(){
            $('#confirmation').load('say/'+$('#say_field').val()+'');
          }
      //]]>
    </script> 
  </head> 
<body>
<%= yield %>
<div id="confirmation"></div>
</body>
